html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    font-family:'Lora';
}
nav{
    width: 100%;
    background-color: silver;
    overflow: hidden;
    position: fixed;
    top:0;

}
ul{
    padding: 0;
    margin: 0;
    list-style: none;

}
li{
    float:left;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/00/c8/39/00c839ae0bd5111c7d9e78cc34e44ef3.png");
    display: inline-block;
    width: 100%;
}
#section2{
    height: 100vh;
    background-image: url("https://images6.alphacoders.com/909/thumb-1920-909375.jpg");
    display: inline-block;
    width: 100%;
}
#section3{
    height: 100vh;
    background-image: url("https://images.hdqwalls.com/download/zed-legends-of-runeterra-league-of-legends-4k-62-1920x1080.jpg");
    display: inline-block;
    width: 100%;
}
#section4{
    height: 100vh;
    background-image: url("https://images.hdqwalls.com/download/legends-of-runeterra-4k-go-1920x1080.jpg");
    display: inline-block;
    width: 100%;
}
h1{
    margin:100px;
    text-align: center;
    padding:0;
}
